old/src/ws/WorkspaceServiceWSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="WorkspaceServiceWSDL" targetNamespace="http://www.users.on.net/~wulfgar.pro/"
	xmlns="http://www.users.on.net/~wulfgar.pro/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.users.on.net/~wulfgar.pro/"
			elementFormDefault="qualified" xmlns="http://www.users.on.net/~wulfgar.pro/">
			<xsd:include
				schemaLocation="http://www.users.on.net/~wulfgar.pro/data/schema/workspace.xsd" />
			<xsd:element name="putWorkspace">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="Workspace" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="putWorkspaceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="putWorkspaceRequest">
		<wsdl:part element="putWorkspace" name="parameters" />
	</wsdl:message>
	<wsdl:message name="putWorkspaceResponse">
		<wsdl:part element="putWorkspaceResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="workspaceService">
		<wsdl:operation name="putWorkspace">
			<wsdl:input message="putWorkspaceRequest" />
			<wsdl:output message="putWorkspaceResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NewWSDLFileSOAP" type="workspaceService"
		xmlns="http://www.users.on.net/~wulfgar.pro/">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="putWorkspace">
			<soap:operation soapAction="http://www.example.org/NewWSDLFile/putWorkspace" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="workspaceService">
		<wsdl:port binding="NewWSDLFileSOAP" name="workspaceService">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
